@model TasksViewModel
        <div>
            @Html.Partial("TaskForm")
        </div>
        <table>
            <thead>
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Is Done</th>
                    <th scope="col">Author</th>
                    <th scope="col">Assignee</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model.TasksList)
                {
                    <tr>
                        <td class="tasks-column">@task.Description</td>
                        <td class="tasks-column">@task.IsDone</td>
                        <td class="tasks-column">@task.AuthorUsername</td>
                        <td class="tasks-column">
                            @if(Model.Usernames.Any())
                            {
                                @Html.DropDownListFor(model => model.SelectedAssignee, Model.Usernames.Select( username => new SelectListItem { Value = username , Text = username }), "Select assignee", null);
                                @Html.ActionLink("Assign", "Assign", new { taskId = task.Id, assignee = Model.SelectedAssignee })
                            }

                        </td>
                        <td class="tasks-column">@task.AssigneeUsername</td>
                        <td>
                            @if(task.IsDone)
                            {
                                @Html.ActionLink("Mark undone", "IsDone", new { Id = task.Id, Done = false })
                            } else 
                            {
                                @Html.ActionLink("Mark done", "IsDone", new { Id = task.Id, Done = true })
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { Id = task.Id })
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", new { Id = task.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
