@model TasksViewModel
<div>
    <div>
        @Html.Partial("TaskForm")
    </div>
    @foreach (var task in Model.TasksList)
    {
        @Html.Partial("TaskDetails", task)

        @if(Model.Usernames.Any())
        {
            @using (Html.BeginForm("Assign", "Tasks", FormMethod.Post))
            {
                @Html.DropDownListFor(m => m.SelectedAssignee, new SelectList(Model.Usernames), "Select assignee");
                @Html.Hidden("taskId", task.Id);
                @Html.Hidden("assignee", Model.SelectedAssignee);
                <input type="submit" value="Assign" />
            }
        }
    }
</div>